*{
    margin: 0;
    padding: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    list-style: none;
    padding-top: 2rem;
}
.menu__item{
    background-color: grey;
    width: 110px;
    text-align: center;
}
.menu__link {
    text-decoration: none;
}