.Gallery{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.Gallery__container{
    display: flex;
    flex-wrap: wrap;
}
.btn {
    display: block;
    margin: 0 auto;
}