/*
   Import partials below
*/
@import './normalize';

$romantic: #f12078;

.header{
   padding-top: 2.875rem;
   background-image: url("../images/Composed-layer@1X.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.wrapper{
   margin-left: 801px;
   width: 22.8125rem;
   padding-top: 2.875rem;
   padding-bottom: 12rem;

   &__logo{
      margin-bottom: 2.875rem;
   }

   &__text{
      margin-bottom: 2.4375rem;
      color: #ffffff;
      font-size: 1.5rem;
      text-shadow: 5px 6px 14px rgb(12, 12, 12);
   }
}


.button{
   border: none;
   background-color: $romantic;
   color: #ffffff;
   font-size: 1.125rem;
   padding: 20px 28px 20px 24px;
   &--size{
      font-size: 1.5625rem;
      padding: 13px 28px 13px 24px;
      margin: 0 10px;
   }
}

.slider{
   position: relative;
   top: -40px;
   
   &__text{
      text-align: center;
      
   }

   &--bold{
      font-weight: bold;
   }
   &__logo{
      color: $romantic;
      font-size: 25px;
      font-style: italic;
      font-weight: 700;
   }
}

.slider-list{
   list-style: none;
   margin: 0 auto 1.75rem;
   width: 960px;
   display: flex;
   justify-content: space-between;
 

   &__item{
      width: 184px;
      padding: 19px 19px 37px 19px;
      box-shadow: 0 -90px 35px rgba(0, 0, 0 , 0.2);
      background-color: #fff;

   }

   &__pic{
      margin-bottom: 12px;
      
   }

   &__title{
      &::after{
         content: "";
         display: block;
         width: 182px;
         height: 2px;
         background-color: $romantic;
         margin: 12px 0 15px 0;
      }
   }
}

.features{
   margin: 0 auto;
   width: 941px;
   display: flex;
   justify-content: space-between;
   padding-bottom: 50px;
   border-bottom: 2px solid #000000;
}
.description{
   width: 456px;

   &__title{
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 24px;
      
      &--bold{
         font-weight:700;
      }
   }
   &__text{
      font-size: 14px;
      line-height: 1.4;
      color: #7e7e7e;

      &:not(:last-child){
         margin-bottom: 28px;
      }
   }
}
.footer-wrapper{
   margin: 20px auto 0;
   width: 941px;
   display: flex;
   justify-content: space-between;
   padding-bottom: 19px;
}
.footer__text{
   font-size: 12px;
   
   &--romantic{
      color: $romantic;
   }
   
}


