.Form{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    border: none;
}
.text {
    border: none;
    border-bottom: 2px solid yellow;
    width: 80%;
    font-size: 24px;
    outline: none;

}
.btn{
    /* width: 20%; */
    margin: 20px;
    border: none;
    color: #ffffff;
    background-color: rgb(145, 206, 4);
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
}
